// Colors::
$indigo: #3F51B5;
$white: white;

// Navigation colors::
$nav-background: $indigo;
$nav-text: $white;

//Clock::
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
