.top-bar, .top-bar ul{
  background-color: $nav-background;
}

.menu-text{
  color: $nav-text;
}

.menu li a{
  color: $nav-text;
  font-weight: normal;
}

.menu a{
  color: $nav-text;
  font-weight: lighter;
}

.top-bar{
  .active-link{
    font-weight: bold;
  }
}
